# ENVIRONMENT
NODE_ENV=staging

# CLIENT_URLS
APP_URL=http://localhost:5173
LANDING_URL=http://localhost:5173
API_URL=http://localhost:3000/api

# POSTGRES
DATABASE_URL=

# REDIS
REDIS_URL=
CACHE_TTL_SECONDS=

# JWT
JWT_SECRET=supersecret
JWT_EXPIRATION_TIME=30d

# SENDGRID
SENDGRID_API_KEY=

# RESEND
RESEND_API_KEY=

# TWILLIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# GOOGLE
GOOGLE_MAPS_API_KEY=

# GOOGLE STORAGE
GCS_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_FOLDER_NAME=
GCS_CREDENTIALS_PATH=

# STRIPE
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# AI
OPENAI_API_KEY=


# BULLMQ
BULL_BOARD_USER=petros
BULL_BOARD_PASSWORD=petros123

